[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/< YOUR USERNAME >/run_atv_robot_remote1.sh
Name=ATVremote
Icon=/home/< YOUR USERNAME >/ATVicon.svg

