[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/< YOUR USERNAME >/run_waypoints_pub_remote.sh
Name=WaypointsRemote
Icon=/home/< YOUR USERNAME >/waypoints_icon.svg

