<!-- Copyed from teb_local_planner and modified
  - glopal parameters
  - map_server
  - move_base
  - foot_print
  - odom
  - navigation
  - amcl
  - rosserial
  - lidar
  - rviz view
 -->
<launch>

        <!--  ************** Global Parameters ***************  -->
        <param name="/use_sim_time" value="false"/>

	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find atv_setup)/maps/robotlab.yaml" output="screen">
        <param name="frame_id" value="map"/>
	</node>

        <!--  ****** DONT DO THIS: ODOM STATIC TO MAP ;) ;) ;)  *****  -->
        <!-- <node pkg="tf" type="static_transform_publisher" name="fixed_map" args="0 0 0 0 0 0 1 map odom 100" />-->

        <!--  ****** static frame *****  -->
        <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id time-->
	<!--  ****** base link *****  -->
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="-0.31 0 0.48 0 0 0 1 base_link base_laser_link 100"/>

	<!--  ****** footprint *****  -->
       <node pkg="tf" type="static_transform_publisher" name="footprint_to_base_link" args="0.36 0 0 0 0 0 1 base_footprint base_link 100"/>

	<!--  ****** odom *****  -->
       <!-- <node pkg="atv_setup" type="atv_odometry" name="atv_odometry" output="screen">
        </node>-->
        <node pkg="atv_setup" name="atv_control_and_odom" type="atv_control_and_odom.py" output="screen"> 
	</node>

        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find atv_setup)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find atv_setup)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find atv_setup)/cfg/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find atv_setup)/cfg/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find atv_setup)/cfg/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

                <param name="clearing_rotation_allowed" value="false" /> <!-- Our ATV is not able to rotate in place -->
	</node>


        <!--  ****** amcl *****  -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find atv_setup)/cfg/amcl_params.yaml" command="load" />

	        <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

        <!--  ****** rosserial *****  -->
        <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/ATV_Interface_Port"/>
        <param name="baud" value="57600"/>
        </node>
        <!-- ATV_Interface_Port and RPLidar_Port look text file "NOTE WHEN USE ESP32 WITH ROSSERIAL.txt" -->
        <!-- *************** RPLidar A3 ********************  -->
	<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
	<param name="serial_port"         type="string" value="/dev/RPLidar_Port"/>  
	<param name="serial_baudrate"     type="int"    value="256000"/><!--A3 -->
	<param name="frame_id"            type="string" value="base_laser_link"/>
	<param name="inverted"            type="bool"   value="false"/>
	<param name="angle_compensate"    type="bool"   value="true"/>
	<param name="scan_mode"           type="string" value="Sensitivity"/>
	</node>

	  <!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find atv_setup)/cfg/rviz_navigation.rviz">
        </node>

</launch>
